<!DOCTYPE html>
<html>

<head>
  <title>Weather Widget</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/home/stylemain.css" >
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<div id="weather"> WEATHER WIDGET<div>
<div class="row city_name">
  <div class="col s12">
      <div class="input-field col s6" style="font-weight: bold">
        <input id="cityName" type="text">
        <label for="cityName">City Name</label>
      </div>
      <div class="input-field col s6 ">
        <a class="waves-effect waves-light btn" id="btn-search-city">Search city</a>
      </div>
		</div>
</div>
<script src="/home/home.js"></script>
</body>

</html>
